.input-container {
    position: relative;
    min-width: 5.625rem;
    padding: 0.5rem 0 1.5rem;

    .input {
        position: relative;
        margin: 0;
        outline: 0;

        input {
            width: 100%;
            padding-left: 35px;
            padding-right: 35px;
            text-overflow: ellipsis;
            white-space: normal;
            overflow: hidden;
            color: #323232;
            font-size: inherit;

            &:disabled {
                cursor: default;
                color: #93a1aa;
            }

            &:disabled + .dropdown-icon {
                color: #93a1aa;
            }
        }

        .search-icon {
            position: absolute;
            color: lightgray; 
            left: 13px; 
            top: 12px;
        }

        .dropdown-icon {
            position: absolute;
            color: inherit;
            right: 13px;
            top: 9px;
            cursor: pointer;
            font-size: 22px;
        }
    }
}

.options-container {
    flex: 1; 
    // padding: 10px 0;
    max-height: 270px;
    overflow-y: auto;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px, 
        rgba(0, 0, 0, 0.15) 0px 4px 24px;

    > option {
        cursor: pointer;
        padding: 5px 10px;
    }

    & .selected-option {
        background-color: #93a1aa;
    }
}
